{% block address_widget %}
    <div class="row">
        <div class="col-md-8">
            {{ form_row(form.streetName) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.streetNumber) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.apartmentNumber) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            {{ form_row(form.city) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.postalCode) }}
        </div>
    </div>
{% endblock %}